@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components{
    .test {
        @apply relative flex items-center;
    }
} */


html,
body {
    font-family: "Hubot Sans", sans-serif;
}
*{
    color:inherit;
    box-sizing: border-box;
    border-color:inherit;
}
.grecaptcha-badge{
    visibility:hidden;
}